WCF Inventory Project/WCFInventoryConsumer/WCFInventoryConsumer/Connected Services/ServiceReferenceInsert/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessObject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessObject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SalesmanBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityOfSalesman" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommissionOfSalesman" type="xs:decimal" />
      <xs:element minOccurs="0" name="NameOfSalesman" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesmanBO" nillable="true" type="tns:SalesmanBO" />
  <xs:complexType name="OrderBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfOrder" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdOfCustomer" type="xs:int" />
      <xs:element minOccurs="0" name="IdOfSalesman" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaseAmountOfOrder" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderBO" nillable="true" type="tns:OrderBO" />
  <xs:complexType name="CustomerBO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityOfCustomer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradeOfCustomer" type="xs:int" />
      <xs:element minOccurs="0" name="IdOfSalesman" type="xs:int" />
      <xs:element minOccurs="0" name="NameOfCustomer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerBO" nillable="true" type="tns:CustomerBO" />
</xs:schema>