WCF Inventory Project/WCFInventoryConsumer/WCFInventoryConsumer/Connected Services/ServiceReferenceInsert/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Temporary_Listen_addresses/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessObject" />
  <xs:element name="InsertNewSalesman">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessObject" minOccurs="0" name="salesman" nillable="true" type="q1:SalesmanBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewSalesmanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNewSalesmanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessObject" minOccurs="0" name="order" nillable="true" type="q2:OrderBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNewOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessObject" minOccurs="0" name="customer" nillable="true" type="q3:CustomerBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNewCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>